/*header, main, footer {
  padding-left: 300px;
}

*/

html, body {
  /*color: #B71234;*/
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

.collection a.collection-item {
  /*color: #B71234;*/
}

.secondary-content {
  /*color: #B71234;*/
}

ul {
  margin: 0;
}

h1 {
  margin: 0;
}

.title {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.title h1 {
  color: #26a69a;
  font-size: 48px;
}

.player {
  text-align: center;
  margin-bottom: 20px;
}

.lyrics {
  color: #26a69a;
  text-align: center;
}

.lyrics p {
  font-weight: bold;
  font-size: 20px;
  margin: 0 4px;
}
